.index {
  width: 100%;

  & > div {
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }

  .content {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media #{$desktop} {
    display: flex;
    margin-top: 15%;

    .header {
      flex-grow: 1;
      text-align: right;
    }
    .content {
      flex-grow: 1.25;
      max-width: 60%;
      text-align: left;
    }
    .header,
    .content {
      padding: 0 5%;
      width: auto;
    }
  }
}
