.homepage {
    text-align: center;
    height: 100%;

    & > .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 65%;

        .title {
            margin-bottom: 60px;

            h1 {
                margin-bottom: 10px;
            }
        }
    }

    & > .featured-projects {
        & > .title {
            margin-bottom: 20px;
        }
        & > .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            & > article {
                margin: 40px;
            }
        }
    }
}
