@import "breakpoints";

$white: #fff;
$gray: #666;
$green: #84c66f;

$heading-fonts: "Lato", "Helvetica", Sans-Serif;
$body-fonts: "Lato", "Helvetica", Sans-Serif;

body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background: $white;
	color: $gray;
  font-size: 125%;

  animation: fade-in-delay 1.5s;

  @keyframes fade-in-delay {
    0%   { opacity: 0; }
    10%  { opacity: 0; }
    100% { opacity: 1; }
  }

  @media #{$desktop} {
    font-size: 100%;
  }
}

a {
	color: $gray;
  text-decoration: none;
	cursor: pointer;

  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: $green;
  }
}
