@font-face {
  font-family: "Mono Social Icons Font";
  src: url('../fonts/icomoon.woff') format('woff'),
       url('../fonts/icomoon.ttf') format('truetype');
}

[class^="socialicon-"], [class*=" socialicon-"] {
  font-family: "Mono Social Icons Font" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socialicon {
  &--twitter:before {
    content: '\e900';
  }
  &--github:before {
    content: '\e901';
  }
  &--linkedin:before {
    content: '\e902';
  }
  &--email:before {
    content: '\e903';
  }
}
