$white: #fff;
$gray: #666;
$green: #84c66f;

body {
    background: $white;
    color: $gray;
}

a {
    border-color: $green;
    color: $gray;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

    &:hover {
        color: $green;
    }
}
